.blog-filters {
  display: flex;
  justify-content: start;
  gap: 15px;
  margin-bottom: 25px;

  .filter-btn {
    padding: 10px 20px;
    border: 1px solid #d4b48c;
    border-radius: 50px;
    background-color: #fff;
    transition: all 0.3s ease;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #d4b48c;
        color: #fff;
      }
    }

    &.active {
      background-color: #d4b48c;
      color: #fff;
    }
  }
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 30px;

  grid-template-columns: 1fr;

  /* Планшеты >=768px — 2 колонки */
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Десктопы >=992px — 3 колонки */
  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-card.hidden {
  display: none;
}

.blog-card {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #d4b48c;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  background-color: #fff;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: translateY(-5px);
    }
  }

  .card-tag {
    display: inline-block;
    margin-bottom: 5px;
    background-color: #a89f91;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    border-bottom-right-radius: 5px;
  }

  .card-title {
    font-size: 20px;
    color: #2c3e50;
    min-height: 70px;
  }

  .card-image-wrapper {
    position: relative;
    padding-top: 60%; /* 16:9 aspect ratio (height / width * 100%) for images */
    overflow: hidden;
    margin-bottom: 15px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
    }
  }

  .card-meta {
    display: flex;
    justify-content: space-between;
    font-size: 12px;

    .date {
      color: #a89f91;
    }

    .author {
      color: #000;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; // Fixed width for circles
    height: 50px; // Fixed height for circles
    border-radius: 50%;
    border: 1px solid #a89f91;
    font-weight: bold;
    transition: all 0.3s ease;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #a89f91;
        color: #fff;
        border-color: #a89f91;
      }
    }

    &.active {
      background-color: #a89f91;
      color: #fff;
      border-color: #a89f91;
    }
  }

  .pagination-dots {
    border: none;
    background: none;
    cursor: default;

    // потом убрать
    &:hover {
      background: none;
      color: #2c3e50;
    }
  }
}
