.container {
  width: 100%;
  margin: 0 auto;
  padding-left: $container-padding-mobile !important;
  padding-right: $container-padding-mobile !important;

  @include respond-to(sm) {
    padding-left: $container-padding-desktop !important;
    padding-right: $container-padding-desktop !important;
  }

  @include respond-to(lg) {
    max-width: $container-max-width !important;
  }

  @include respond-to(xl) {
    max-width: 1300px !important;
  }

  @include respond-to(xxl) {
    max-width: 1440px !important;
  }
}

.main-content {
  padding: 130px 0px 0px;
}
