.invest {
  &__container {
    padding: 0rem 0rem 1rem;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 1.125rem;
    color: #a29b94;
    margin-bottom: 1rem;
    line-height: 1.4;
  }

  &__divider {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 1rem 0 2rem;
  }

  &__overview {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start; // более логично для текста
    }

    &-text {
      flex: 1;
      max-width: 800px;

      p {
        color: #625c54;
        line-height: 1.6;
      }
    }

    &-aside {
      flex: 1;
    }
  }

  &__cards {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card {
    border: 1px solid #c0a97b;
    border-radius: 1rem;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;

    &-title {
      font-size: 1.125rem;
      margin-bottom: 1rem;
    }

    &-media {
      width: 100%;
      img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 0.5rem;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #f9f6f1;
    padding: 2rem 1rem;
    border-radius: 0.5rem;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    color: #000;
    text-decoration: none;
    border: 1px solid #c0a97b;
    border-radius: 2rem;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    &:active {
      background-color: #b8976f;
      transform: scale(0.98);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #d4b48c;
        color: #fff;
        border-color: #d4b48c;

        .invest__link-icon {
          transform: translateX(4px);
        }
      }
    }
  }

  &__link-icon {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    transition: transform 0.3s ease;
  }
}
