.projects {
  &__title {
    margin-bottom: 20px;
  }

  &__filters {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-bottom: 25px;

    .projects__filter {
      padding: 10px 20px;
      border: 1px solid #d4b48c;
      border-radius: 50px;
      background-color: #fff;
      transition: all 0.3s ease;
      cursor: pointer;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: #d4b48c;
          color: #fff;
        }
      }

      &.active {
        background-color: #d4b48c;
        color: #fff;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.project-card {
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &__image {
    width: 100%;
    height: auto;
  }

  &__content {
    padding: 10px;
  }

  &__category {
    display: block;
    background: #e0a800;
    color: #fff;
    padding: 2px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  &__text {
    margin: 0;
    font-size: 0.9em;
    color: #666;
  }
}
