.projects {
  &__title {
    margin-bottom: 20px;
  }

  &__filters {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-bottom: 25px;

    .projects__filter {
      padding: 10px 20px;
      border: 1px solid #d4b48c;
      border-radius: 50px;
      background-color: #fff;
      transition: all 0.3s ease;
      cursor: pointer;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: #d4b48c;
          color: #fff;
        }
      }

      &.active {
        background-color: #d4b48c;
        color: #fff;
      }
    }
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #d4b48c;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  background-color: #fff;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: translateY(-5px);
    }
  }

  .card-image-wrapper {
    position: relative;
    padding-top: 60%;
    overflow: hidden;
    margin-bottom: 15px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
    }
  }

  .card-tag {
    display: inline-block;
    margin-bottom: 5px;
    background-color: #a89f91;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    border-bottom-right-radius: 5px;
  }

  .card-title {
    font-size: 20px;
    color: #2c3e50;
    // min-height: 70px;
  }

  a.project-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .card-title {
    font-size: 20px;
    color: #2c3e50;
    // min-height: 70px;
    margin-bottom: 10px;
  }

  .card-tag {
    margin-bottom: 8px;
  }

  .card-image-wrapper {
    margin-bottom: 0; // переместили наверх по структуре — изображение будет ниже текста
  }
}

.btn__more {
  margin: 2rem 0;
  text-align: center; // выравнивание по центру
}

.loadmore-btn {
  display: inline-block;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #d4b48c;
  border-radius: 2rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:active {
    background-color: #b8976f;
    transform: scale(0.98);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #d4b48c;
      color: #fff;
    }
  }
}

.hidden {
  display: none !important;
}
